* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}


/*
* Light blue: `#75e2e6`
* Dark blue: `#048eaa`
* Background color: `#ffffff`
* White text: `#ffffff`
* Body text: `#000000`
*/
